.DS_Store
*.icloud
.vscode/
olist_sellers_dataset.csv
olist_products_dataset.csv
olist_orders_dataset.csv
olist_order_reviews_dataset.csv
olist_order_payments_dataset.csv
olist_order_items_dataset.csv
olist_geolocation_dataset.csv
olist_customers_dataset.csv
